.ui-autocomplete .ui-menu-item{
font-style:italic;
color: red;
background-color: lightgrey;
}

.button {
background-color: white;
color: black;
border-radius: 5px;
border: 2px solid #4CAF50; /* Green */
}

.button:hover {
background-color: #4CAF50; /* Green */
color: white;
}

.half-content{
font-size: 14px /*smaller content size*/
}

.onhoververified{
display: none;
}
.verified{
display: inline;
}
.verified:hover .onhoververified{
display: inline;
color:white;
}

.onhoverplat{
display: none;
}

.plat{
display: inline;
}

.plat:hover > .onhoverplat{
display: inline;
}

.maintitle {
    margin: auto;
    width: 55%;
    padding: 10px;
    margin-top: 5%;
    color: #333B84;
  }

body{
    background-color:rgb(195, 219, 235) ;
}