{%extends 'partials/base.html'%} {% load socialaccount %}

{%block title%} College rating {%endblock%}
{%block header_container%}
    <h1 style="color: #FFFDD0; text-align: center;font-size:5vw;">College rating {{test}}</h1>
{%endblock%}

{%block search%}

<div>
    <form class="d-flex" id="collegesearchform" method="get">
      {% csrf_token %}
      <input action="{% url 'collegeRating' %}"  name='collegeQuery' class="form-control me-2" id="uni_search" type="search" placeholder="Search the university here" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    
</div>
  
{%endblock%}


{%block ratedBody%}
<div class="container">
  <div class="row pt-3">
    <div class="col-md-6">
      <h3 style="font-weight: bold;">
      
      {{queryUNI}}
      
      </h3>
      {%if wiki_summary|wordcount > 60 %}
      <div class="half-content" id="half" style="text-align:justify;">{{wiki_summary|safe|linebreaks|truncatewords:60}}
      <a id="btn" href="javascript:void();" class="show-hide-btn">Read more</a>
      </div>
      <div class="half-content" id="full" style="text-align:justify;display: none;">{{wiki_summary|safe|linebreaks}}
      <a id="btn" href="javascript:void();" class="show-hide-btn">Read less</a>
      </div> 
      {%else%}
      <div class="half-content" id="half" style="text-align:justify;">{{wiki_summary|safe|linebreaks}} </div>
      {%endif%}
    </div>
    
    <div class="col-md-6">
      {%if graph_data%}
        <h4>Overall ratings ({{average_rating}})</h4>
        <canvas id="myCharts" width="200" height="150"></canvas>
        <div class="selectBox">
          <select id="coffeeSales">
            <option value="bar">Bar</option>
            <option value="pie">Pie</option>
            <option value="doughnut">Doghnut</option>
            <option value='radar'>Radar</option>
          </select>
          {%include 'rateMySchool/chartjs.html'%} <!--Javascript Code for the chart-->
        </div> 
      {%elif queryUNI != ''%}
        <p>Sorry, this university doesn't have any ratings yet. Please log-in /register to rate!!!</p>
      {%endif%}
     
    </div>
  </div>
</div>
{%endblock%}
{%block tabPanel%}
{%endblock%}

<!--Individual duplicate ratings-->
  {%block indivRating%}
  {%if search%}
      
      <!--individual rating 2-->
      <!--Tab panel start (SHOULD LATER BE TAKEN TO base.html)-->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="academic-tab" data-bs-toggle="tab" data-bs-target="#academic" type="button" role="tab" aria-controls="academic" aria-selected="false">Academic</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="social-tab" data-bs-toggle="tab" data-bs-target="#social" type="button" role="tab" aria-controls="social" aria-selected="false">Social</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security" type="button" role="tab" aria-controls="security" aria-selected="false">Security</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="gneral-tab">
        <!--The individual ratings display in a separate html file-->
        {%include 'rateMySchool/indivUniRatings.html'%}
          
        </div>
        <div class="tab-pane fade" id="academic" role="tabpanel" aria-labelledby="profile-tab">
        <!--The individual ratings display in a separate html file-->
        {%include 'rateMySchool/indivAcademicRatings.html'%}
        </div>
        <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="contact-tab">
        <!--The individual ratings display in a separate html file-->
        {%include 'rateMySchool/indivSocialRatings.html'%}
        </div>
        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="contact-tab">
        <!--The individual ratings display in a separate html file-->
        {%include 'rateMySchool/indivSecurityRatings.html'%}
        </div>
      </div>
    </div>
  
  {%endif%}

  {%include 'rateMySchool/collegevotesajax.html'%}
  {%endblock%}