{% extends 'partials/dashboardbase.html' %} {% load socialaccount %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="text-align: center; padding-top: 3%;">
  {%if userprofile.blocked%}
  <h3>You have violated community guidelines. Hence, you are blocked from contributing to Rate Academia and your posts have been removed.</h3>
  {% elif user.is_authenticated%}
    <h1>Rate Academia</h1>
    <p>Welcome {{ user.username }}, who would you like to rate today?</p>
      <div class="row pt-3">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 shadow p-3">
        <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-success btn-block mt-2 mb-3" type="submit" value="Submit">
        </form>
    </div>
    <div class="col-md-3">
    </div>
  {% else %}
    <!-- GitHub button starts here -->
    <h1 style="text-align: center; padding-top: 5%;">Rate Academia</h1>
    <div class="container" style="text-align: center; padding-top: 3%;">
    <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
      <i class="fa fa-github fa-fw"></i>
      <span>Login with GitHub</span>
    </a>
    <!-- GitHub button ends here -->

    <!-- Google button starts here-->
    <a href="{% provider_login_url 'google' %}" class="btn btn-primary">
    <i class="fa fa-google fa-fw"></i>
      <span>Login With Google</span>
    </a>
    <!-- Google button ends here -->
    </div>
  {% endif %}
</div>

{% endblock content %}