{% extends 'partials/dashboardbase.html' %} {% load socialaccount %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row pt-3 mt-3">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 shadow">
        <h1> Edit profile</h1>
    </div>
    <div class="col-md-4">
    </div>
    </div>
</div>


<div class="container" style="text-align: center; padding-top: 3%;">
    <div class="row pt-1">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 shadow p-3 mb-3">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block mt-2 mb-3" type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>
{%endblock content%}