{%for post in posts%}
          {%if not post.raterUser.profile.blocked and not post.removed%}
          <div class="p-3 mt-3 mb-2 shadow indivposts">
            <div class="row pt-2 mb-2">
              <div class="col-md-7">
                <div style="color: white;display:inline;font-weight:bold;"> {{post.raterUser}}
                    {%if post.raterUser.profile.verified%}
                    <div class="verified"> <i title="verified" class="fa-solid fa-circle-check"></i> </div>
                    {%endif%}
                    </div>
                    {%if post.raterUser.profile.bagdeValue >= 200 and post.raterUser.profile.bagdeValue < 500 %}
                      <b style="color: #E5E4E2;"><i style="color:#CD7F32;" title="silver member" class="fa-solid fa-user-graduate"></i></b>
                    {%elif post.raterUser.profile.bagdeValue >= 500 and post.raterUser.profile.bagdeValue < 1000%}
                      <b style="color: #E5E4E2;"><i style="color:gold;" title="gold member" class="fa-brands fa-old-republic"></i></b>
                    {%elif post.raterUser.profile.bagdeValue >= 1000%}
                      <div class="plat"><b style="color: #E5E4E2;"><i title="platinium member" style="color: platinium;" class="fa-brands fa-ethereum"></i></b></div>
                    {%endif%}
                {% if user.is_authenticated %}
                    {%if post.raterUser.id == user.id%}
                    <a class="btn btn-outline-primary" style="font-size: 12px;" href="{%url 'updatepost' post.id%}"> Edit Post</a>
                    {%endif%}
                {%endif%} 
                <div class="onhoververified">verified</div> 
                <div class="onhoverplat">platinium</div> 
                <br> 
                {%if post.edited%}
                <small>Last modified on: {{post.date_last_edited}} </small>
                {%else%}
                <small> {{post.date_created}}</small>
                {%endif%}
                </div>
              
              <div class="col-md-5">
                <!--if else for number of stars goes here-->
                <b style="color: #333B84;">Rating: </b> 
                
                <!--star ratings-->
                {%if post.rate_stars == 1%}
                <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> 
                
                {%elif post.rate_stars == 2%}
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> 
                {%elif post.rate_stars == 3%}
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> 
                {%elif post.rate_stars == 4%}
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> 
                {%elif post.rate_stars == 5%}
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> 
                
                {%endif%}
                
                {{post.rate_stars}}/5
              </div>
            </div>
            {{post.postcontent}}
            <!--bottom of individual rating. Consists upvote and downvote-->
            <div class="row pt-3">
              <div class="col-md-3">
                
              </div>
              <div class="col-md-3">
                <!--one is button and the other is int-->
              </div>
              <div class="col-md-6">
                <!--one is button and the other is int-->
                {%if currentUserProfile not in post.upvote.all%}
                <a class="btn btn-outline-primary" style="font-size: 14px;" id="like-button" value="{{post.id}}"><span class="" id="{{post.id}}">{{post.upvote.all.count}}</span>  <i class="fa-regular fa-thumbs-up" id="upvoteicon{{post.id}}"></i></a>
                {%else%}
                <a class="btn btn-outline-primary" style="font-size: 14px;" id="like-button" value="{{post.id}}"><span class="" id="{{post.id}}">{{post.upvote.all.count}}</span>  <i class="fa-solid fa-thumbs-up" id="upvoteicon{{post.id}}"></i></a>
                {%endif%}
                {%if currentUserProfile not in post.downvote.all%}
                <a class="btn btn-outline-danger" style="font-size: 14px;" id="dislike-button" value="{{post.id}}"><span class="" id="{{post.id}}dislike">{{post.downvote.all.count}}</span>  <i id="downvoteicon{{post.id}}" class="fa-regular fa-thumbs-down"></i></a>
                {%else%}
                <a class="btn btn-outline-danger" style="font-size: 14px;" id="dislike-button" value="{{post.id}}"><span class="" id="{{post.id}}dislike">{{post.downvote.all.count}}</span>  <i id="downvoteicon{{post.id}}" class="fa-solid fa-thumbs-down"></i></a>
                {%endif%}
               
               
               
                
                {%if currentUserProfile not in post.postreportedUsers.all%}
                <a class="btn btn-outline-dark" style="font-size: 12px;" href="{%url 'reportconfirmation' post.id%}">Report</a>
                {%else%}
                <a class="btn btn-dark" style="font-size: 12px;" href="{%url 'reportconfirmation' post.id%}">Reported</a>
                {%endif%} 
              </div>
            </div>

          </div>
          {%endif%}
        {%endfor%}