{% extends 'partials/dashboardbase.html' %} {% load socialaccount %}
{% block content %}

{%if user.is_staff%}
<div class="row pt-3 mt-3">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 shadow">
        <h1> Posts report (internal use only)</h1>
    </div>
    <div class="col-md-2">
    </div>
    </div>
</div>
<div class="row mb-3 mt-3 pt-2">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <table>
    <tr>
        <th>User</th>
        <th>Post Content</th>
        <th>Reported</th>
        <th>Profanity</th>
        <th>Upvotes</th>
        <th>DownVotes</th>
    
    </tr>
{%for post in combinedposts%}
        <tr>
            <th><a href="{%url 'manageuser' post.raterUser.id%}"> {{post.raterUser}}</a></th>
            {%if post.ratedProf%}
                <th><a href="{%url 'postprofdetail' post.id%}">{{post.postcontent|safe|linebreaks|truncatewords:5}}</a></th>
            {%endif%}
            {%if post.ratedBody%}
                <th><a href="{%url 'postdetail' post.id%}">{{post.postcontent|safe|linebreaks|truncatewords:5}}</a></th>
            {%endif%}
            <th>{{post.postreportedUsers.all.count}}</th>
            <th>{{post.profanity_prob}}%</th>
            <th>{{post.upvote.all.count}}</th>
            <th>{{post.downvote.all.count}}</th>
            <!--if the user is already blocked or not-->
        </tr>
        
        
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
{%endfor%}
</table>

{%else%}
Sorry, you are not allowed to access this page!

{%endif%}
{%endblock content%}