{%extends 'partials/base.html'%} {% load socialaccount %}

{%block header_container%}
    <h2 style="color: #333B84; text-align: center;">Professor Ratings {{test}}</h2>
{%endblock%}

{%block search%}

<div>
    <form class="d-flex" method="get">
      {% csrf_token %}
      <input action="{% url 'collegeRating' %}"  name='professorQuery' class="form-control me-2" id="prof_search" type="search" placeholder="Search a professor here" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>

<div class="container">
  <div class="row pt-3">
    <div class="col-md-6">
      <h3 style="color: #333B84; font-weight: bold;">
      {{professor.name}}
      </h3>
      <div class="half-content" id="half" style="text-align:justify;">
        <b>Currently at: {{professor.currentUniversity}} </b>
        <div>{{professor.bio}} </div>
      </div>
    </div>
      <div class="col-md-6">
        {%if professor.name%}
        <h4>Overall ratings ({{average_rating}})</h4>
        <canvas id="myChartsProf" width="200" height="150"></canvas>
        {%include 'rateMySchool/chartjsProf.html'%} <!--Javascript Code for the chart-->
        {%endif%}
      </div>
  </div>
</div>
  

{%include 'rateMySchool/searchProfRecom.html'%}
{%endblock%}

{%block indivRating%}
      
      {%include 'rateMySchool/indivProfRatings.html'%}
    </div>

{%include 'rateMySchool/profvotesajax.html'%}
{%endblock%}